:root {
  --background-color: linear-gradient(to right, #be123c, #881337);
  --container-color: linear-gradient(to right, #e11d48, #9f1239)
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: var(--background-color);
}

.container {
  background: var(--background-color);
  display: grid;
  grid-template: 1fr 8fr / 1fr 4fr;
  color: white;
  border-radius: 40px;
  padding: 15px 25px;
  gap: 20px;
  height: calc(100vh - 16px);
  align-content: start;
  border: 1px solid white
}

.container>header {
  align-self: center;
}

h1 {
  margin: 0;
}

aside {
  grid-row: 2 / 3;
  display: grid;
  align-content: center;
  justify-content: start;
  gap: 20px;
}

.side-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

ul {
  list-style: none;
}

.search {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

input[type="search"] {
  border-radius: 15px;
  padding: 8px;
}

.search>div {
  align-items: center;
  display: flex;
  flex-basis: 300px;
  justify-content: space-between;
}

main>section header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.projects {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

img {
  height: 150px;
  width: 150px;
}